<!-- main/templates/base.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Sitio Web{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/stiles.css' %}">
</head>
<body>
    <!-- Navbar -->
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Inicio</a></li>
            <li><a href="{% url 'productos' %}">Productos</a></li>
            <li><a href="{% url 'pedido' %}">Crear Pedido</a></li>
            <li><a href="{% url 'mostrarPedidos' %}">Tus Pedidos</a></li>
            <!-- Add more links here -->
        </ul>
    </nav>

    <!-- Main Content -->
    <div>
        {% block content %}
        <!-- Content of specific pages goes here -->
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Mi Sitio Web. Todos los derechos reservados.</p>
    </footer>
</body>
</html>