<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Sitio Web{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Inicio</a></li>
            <li><a href="{% url 'productos' %}">Productos</a></li>
            <li><a href="{% url 'pedido' %}">Crear Pedido</a></li>
            <li><a href="{% url 'mostrarPedidos' %}">Tus Pedidos</a></li>
            {% if user.is_authenticated %}
                <li>
                    <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" style="float: right;">
                            Cerrar sesión
                        </button>
                    </form>
                </li>
                {% if user.is_staff %}
                    <li style="float: right;"><a href="{% url 'admin:index' %}">Admin Dashboard</a></li>
                {% endif %}
            {% else %}
                <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>