{% extends 'base.html' %}

{% block content %}
<script>
    const carrito = [];
    const ids = [];

    function agregarAlCarrito(codigo, id) {
        carrito.push(codigo);
        ids.push(id);
        actualizarCarrito();
    }

    function actualizarCarrito() {
        const pedidoLista = document.getElementById('pedido-lista');
        pedidoLista.innerHTML = '';
        carrito.forEach(producto => {
            const li = document.createElement('li');
            li.textContent = producto;
            pedidoLista.appendChild(li);
        });
    }

    async function crearPedido() {
        const idString = ids.join(',');
        try {
            const response = await fetch('/crear_pedido/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({ ids: idString })
            });

            if (response.ok) {
                alert('Pedido creado');
                carrito.length = 0;
                ids.length = 0;
                actualizarCarrito();
            } else {
                console.error('Error al crear el pedido');
            }
        } catch (error) {
            console.error('Error al crear el pedido', error);
        }
    }
</script>

<h1>Listado de productos:</h1>
<ul>
    {% for producto in productos %}
        <li>
            {{ producto.codigo }}
            <button class="agregar-btn" onclick="agregarAlCarrito('{{ producto.codigo }}', '{{ producto.id }}')">Agregar</button>
        </li>
    {% endfor %}
</ul>
<h2>Tu pedido:</h2>
<ul id="pedido-lista"></ul>
<button class="crear-pedido-btn" onclick="crearPedido()">Crear Pedido</button>
{% endblock %}